.quiz__header {
    background: rgb(75, 75, 75);
    border-radius: 5px;
    padding: 10px 10px 20px;
    /*padding-bottom: 10px;
    margin-bottom: 10px;*/
    color: #ffffff;
  }

/* Table styling */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2;}
  
  tr:hover {background-color: #ddd;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .link-button {
    background-color: #0f8e08;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    padding: 10px;
  }
   
  
  .link-button:hover {
    border: none;
    background:#12a609;
    color: #FFFFFF;
    box-shadow: 0px 0px 1px #777;
  }
  
  .ans-link {
    background-color: #acacac;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    padding: 6px;
  }
   
  
  .ans-link:hover {
    border: none;
    background:#6dac6a;
    color: #222;
    box-shadow: 0px 0px 1px #777;
  }

  .ash-form {
    background-color: #e5eaec;
    border: 3px solid #d6dee1;
    color: #333;
    padding: 10px;
}